@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  margin: 0;
  font-family: 'Patua One',
    cursive;

  font-size: 35px;
  background-color: #728FCE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.forma_prijava {
  display: block;
  margin-top: 50px;
}

.element-forme {
  margin-bottom: 15px;
  margin-top: 30px;
}

.input_prijava {
  width: 250px;
  height: 25px;
  padding-top: 15px;
  font-size: 25px;
}

.dugme_prijava {
  height: 50px;
  width: 180px;
  border-radius: 10px;
  font-size: 20px;
}